.custom-controls {
  position: absolute;
  top: 100px;
  right: 10px;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.planImage {
  width: 1000px;
  max-height: 550px;
}

.zoomPlus {
  margin-top: 130px;
  margin-right: 10px;
  width: 37px;
  height: 37px;
  font-size: 30px;
  background-color: #333840;
  color: #ddd;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.zoomPlus:first-child {
  z-index: 100;
  position: relative;
}

.zoomMinus {
  width: 37px;
  height: 37px;
  font-size: 33px;
  line-height: 0;
  background-color: #333840;
  color: #ddd;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.zoomMinus:first-child {
  margin-top: 3px;
  z-index: 100;
  position: absolute;
}

.grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 20px 20px;
  pointer-events: none;
}

.custom-cursor-zone {
  cursor:
    url('../../../../../shared/assets/icons/drawCursor.svg') 5 20,
    auto !important;
}

.custom-cursor-anchor {
  cursor:
    url('../../../../../shared/assets/icons/anchorInCircle.svg') 5 20,
    auto !important;
}

.buttonSaveDelete {
  background-color: var(--dark-grey);
  border: none;
  height: 35px;
}
